.article {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.heroImage {
    max-height: 200px;
}

.header {
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: -0.01em;
    color: var(--accent);
}

.subheader {
    color: var(--accent);
    opacity: 0.25;
}
